html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    margin: 100px 200px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #293e6b;
    height: 80px;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar h1 {
    margin-left: 200px;
    line-height: 80px;
    font-size: 24px;
}

.stats-row {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 200px;
}

.stats-box {
    border-radius: 15px;
    background-color: #efefef;
    border-left: 5px solid #aaa;
    padding: 0px 15px;
    min-width: 150px;
}